<section class="dividend">
  <div class="container">
    <div class="container-middle-row">
      <div class="container-middle-row__col">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut laborum maxime nam praesentium
          quidem.</h3>
      </div>
    </div>

  </div>
  <div class="container">
    <div class="container-row">
      <div class="container-row__report">
                <span class="container-row__report-dividend">
                    Dividende 2021</span><br/>
        <span class="container-row__report-currency">
                        (CHF)
                    </span>
        <div class="container-row__report-below">
          <p>
            4.00</p>
          <p>
            (Vorschlag)
          </p>
        </div>
      </div>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus harum, temporibus? Asperiores
          blanditiis eius eos iusto, laudantium pariatur quaerat vitae! Accusantium aliquid corporis culpa
          dolorem eligendi eum eveniet facilis id incidunt, laborum libero quisquam, quo quos recusandae ullam
          voluptas voluptatum. Accusamus assumenda error, molestiae nesciunt unde velit veniam. Autem
          blanditiis dignissimos in maiores necessitatibus quisquam sint tempora, tempore veniam voluptate?
          Asperiores assumenda, beatae blanditiis cumque cupiditate deleniti dolorem ducimus eius eveniet
          facere fuga in ipsum, labore nulla perspiciatis placeat possimus provident quaerat quam ratione
          repellat reprehenderit sapiente sequi tenetur ullam unde voluptate voluptatibus. A adipisci
          architecto, atque autem beatae consectetur consequatur deserunt, dignissimos distinctio dolor
          doloremque dolores eligendi eveniet ex facere illo possimus, provident quo repudiandae sequi tempore
          vitae voluptate?</p>
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam blanditiis ducimus saepe similique
          suscipit.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deserunt dolor doloribus eaque laborum,
          officiis perferendis quia reprehenderit repudiandae sint suscipit voluptates. Culpa deserunt,
          dignissimos ducimus est eveniet fugit, laudantium quae quia, quo quod repudiandae vero voluptatum?
          Beatae ea eius id, laborum quidem ut veniam. Aliquid enim fugiat officiis quasi quisquam? Beatae
          doloremque ipsa laudantium nulla quibusdam quo soluta vitae. Ad blanditiis corporis, in
          necessitatibus soluta voluptates voluptatum? Blanditiis dicta dolores ducimus ea eaque illum minima
          nemo, non quia suscipit.</p>

        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere quis sint totam.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab consectetur dolor eius eos est eum
          eveniet fuga harum ipsum iste mollitia nobis odit pariatur praesentium reprehenderit similique, sunt
          unde veniam vero vitae? Aspernatur consequatur delectus, fugiat, fugit incidunt ipsum maxime
          mollitia non porro quis sapiente similique veniam, voluptate! Alias animi aperiam blanditiis
          consequatur cum dolorem eaque earum eius, eos error explicabo facere labore minus natus nisi optio
          pariatur perferendis quibusdam quis quod ratione sunt ullam veritatis? Aperiam impedit, quidem!
          Accusamus architecto, consequuntur, hic incidunt ipsa libero nemo porro possimus provident quidem,
          voluptatem voluptatibus? A accusamus architecto, asperiores beatae, commodi ex illum inventore, ipsa
          iure minima modi mollitia optio pariatur perferendis porro possimus quis rerum. Asperiores cumque
          eligendi praesentium totam ullam.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, ad consequuntur ea enim fuga
          hic incidunt itaque laborum magnam nobis provident quaerat quisquam quod rerum similique velit
          voluptate voluptates? Atque facere id impedit, ipsam magni maxime voluptas! A, aspernatur autem
          corporis incidunt ipsum iure laudantium minima molestiae necessitatibus officiis pariatur possimus
          quis ratione repudiandae sequi! Accusantium aspernatur at autem corporis dignissimos dolorem
          doloribus eaque impedit, inventore ipsum magnam molestias nisi non possimus quas reprehenderit
          rerum, sint tempora tenetur vero? At culpa, cupiditate dignissimos eos fugit in laudantium magnam
          odit officiis omnis porro possimus quibusdam repudiandae sint temporibus! Hic maiores nemo numquam
          qui quidem! A consectetur cum distinctio eaque eligendi eos fuga, iste itaque, laboriosam laudantium
          officia perferendis qui tempora.</p>
      </div>
      <div></div>
    </div>

  </div>
</section>