<section class="sustainability">
  <div class="container">
    <div class="container-middle-row">
      <div class="container-middle-row__full-col">
        <p class="container-middle-row__full-col-title">Nachhaltigkeit 2020</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias, consectetur culpa debitis
          dignissimos facilis laudantium natus, nulla perferendis quia rem sequi tenetur? Amet culpa eos
          facere, fugiat ipsam, itaque laboriosam laudantium magni minus modi non odio quo tenetur?
          Exercitationem facere, laborum! Blanditiis debitis eveniet hic, molestiae quae repudiandae suscipit
          voluptatum! Debitis nisi perferendis placeat provident quod reiciendis, repellendus sit vero.
          Ducimus esse nostrum sed similique voluptas. Alias aut enim est et facere ipsum laborum, molestias
          quidem, reiciendis ullam voluptatem?</p>
        <div class="container-middle-row__full-col-icon">
          &rarr;
        </div>
      </div>


    </div>
  </div>

</section>